
<table>
  <tbody>
    <tr>
    <td><h1>Hi <%= @user.name %></h1></td>

      <td><h2>Order Confirmed</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for your order with <%= @appname %>!</p></td>
    </tr>
  </tbody>
</table>