

<h1>Wright Co Products</h1>

<div class="container">
  <div class="row">
      <% @products.each do |product| %>
    		<%= render partial: "product", locals: {product: product} %>
  		<% end %>
  </div>
</div>

<p id="notice"><%= notice %></p>

<br>

<%= link_to 'New Wright Product', new_product_path %>

<% paragraph_number = 1 %>
<% 5.times do %>
  <p>Product information <%= paragraph_number %></p>
  <% paragraph_number = paragraph_number + 1 %>
<% end %>

