
<p id="notice"><%= notice %></p>

<h1>Wright Co Products</h1>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <%= image_tag("board.jpg", class: "img-responsive") %>
        <h1>Product</h1>
        <p>Information</p>
        <strong>$cost$</strong>
      </div><!-- /col -->
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Wright Product', new_product_path %>

<% paragraph_number = 1 %>
<% 5.times do %>
  <p>Product information <%= paragraph_number %></p>
  <% paragraph_number = paragraph_number + 1 %>
<% end %>

